<h1 style="color:blue;text-align:center;font-size:400%;"  >Cab Planet</h1>
<h6 style="color:skyblue;text-align:center;">Easy To Book Fun To Commute</h6>

<div style="padding:15px">
    <ul class="nav nav-tabs">
    <li routerLinkActive="active"><a routerLink='home'>Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li><a routerLink='addCustomer'>Add Customer</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li><a routerLink='customer'>Customers</a></li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </ul>
    <br/><br/>
    <router-outlet></router-outlet>
    </div>
