<table>
  <tr>
  <td>Customer Id</td>
  <td>{{customer.cid}}</td>
  </tr>
  <tr>
  <td>Customer First Name</td>
  <td>{{customer.cfname}}</td>
  </tr>
  <tr>
  <td>Customer Last Name</td>
  <td>{{customer.clname}}</td>
  </tr>
   
  <tr>
  <td>Date Of Birth</td>
  <td>{{customer.dob}}</td>
  </tr>
  <tr>
  <td>Gender</td>
  <td>{{customer.gender}}</td>
  </tr>
  <tr>
  <td>Present Address</td>
  <td>{{customer.presentAddress}}</td>
  </tr>
  <tr>
  <td>Permanent Address</td>
  <td>{{customer.permanentAddress}}</td>
  </tr>
  <tr>
  <td>Phone Number</td>
  <td>{{customer.phoneNumber}}</td>
  </tr>
  <tr>
  <td>Email</td>
  <td>{{customer.email}}</td>
  </tr>
  <tr>
  <td>Password</td>
  <td>{{customer.pwd}}</td>
  </tr>
  </table>
  <inputtype="button" class="btn btn-primary" value="Go Back" (click)="backToCustomerList()">