<nav class="navbar navbar-expand-lg" style="background-color: #AED6F1 ;" >

    
  <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div>
    <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                 <a class="nav-link" routerLink="bookinglist">Booking Requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="viewvehicle()">View My Vehicle</a>
           </li>
         
         

        
        
      </ul>

       
  </div>
</nav>
<router-outlet></router-outlet>