<table>
    <tr>
      <td>Driver Id</td>
      <td>{{driver.did}}</td>
    </tr>  
    <tr>
      <td>Driver Name</td>
      <td>{{driver.dname}}</td>
    </tr>  
      <td>Address</td>
      <td>{{driver.address}}</td>
    <tr>  
      <td>Contact number</td>
      <td>{{driver.contactno}}</td>
    </tr>  
    <tr>
      <td>License Number</td>
      <td>{{driver.licenseNumber}}</td>
    </tr>
   </table>

   <button>
      <input type="button" class="btn btn-primary" value="GoBack" (click)="backToDriverlist()">
      </button>